/* raleway-regular - latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* raleway-italic - latin */

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/raleway-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* raleway-700 - latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* raleway-700italic - latin */

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url('../fonts/raleway-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* raleway-900 - latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url('../fonts/raleway-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Raleway', sans-serif;
}

.gradient {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(#FFFFFF, #ECE9E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#FFFFFF, #ECE9E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* can be treated like a fallback */
}

@media only screen and (min-width: 360px) {
  .flow-text-sm {
    font-size: 0.8640000000000001rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text-sm {
    font-size: 0.9792rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text-sm {
    font-size: 0.9984rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text-sm {
    font-size: 1.0176rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text-sm {
    font-size: 1.0368rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text-sm {
    font-size: 1.056rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text-sm {
    font-size: 1.0752000000000002rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text-sm {
    font-size: 1.0944rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text-sm {
    font-size: 1.1136rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text-sm {
    font-size: 1.1328rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text-sm {
    font-size: 1.152rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text-sm {
    font-size: 1.1712rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text-sm {
    font-size: 1.1904rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text-sm {
    font-size: 1.2096rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text-sm {
    font-size: 1.2288000000000001rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text-sm {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text-sm {
    font-size: 1.2672rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text-sm {
    font-size: 1.2864rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text-sm {
    font-size: 1.3055999999999999rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text-sm {
    font-size: 1.3248rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text-sm {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 2000px) {
  .flow-text-sm {
    font-size: 2rem;
  }
}

.flex-center {
  justify-content: center;
}

.mta-blue {
  background-color: #005daa;
}

.mta-gold {
  background-color: #ffbe3d;
}

.lightgrey-text {
  color: lightgrey;
}

.mta-blue-text {
  color: #005daa;
}

.mta-gold-text {
  color: #ffbe3d;
}

.section-padding {
  padding-top: 14vh;
  padding-bottom: 14vh;
}

.row {
  padding-bottom: 20px;
  margin-bottom: 0px;
}

a:hover {
  /* grey-text */
  color: #9e9e9e;
}

.social-icon {
  width: 24px;
  height: 24px;
  background-color: white;
  display: inline-block;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.social-icon:hover {
  /* hover grey-text */
  background-color: #9e9e9e;
}

.github-icon {
  -webkit-mask-image: url("../img/github-logo.png");
  mask-image: url("../img/github-logo.png");
}

.logo {
  width: 64px;
  height: 64px;
  margin: 35px 0px 35px 35px;
}

#arrow-wrapper {
  display: inline-grid;
  justify-content: right;
  padding-left: 2.5rem;
  padding-right: 0rem;
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: .8;
  }
}

.arrow:nth-of-type(1) {
  animation-delay: 3.6s;
}

.arrow:nth-of-type(2) {
  animation-delay: 3.7s;
}

.arrow:nth-of-type(3) {
  animation-delay: 3.8s;
}

.arrow {
  margin-top: 5px;
  width: 48px;
  animation: fade 2s infinite forwards;
}

#card-hand {
  height: 50%;
  width: 50vw;
  z-index: -1;
}

#intro-text {
  padding-bottom: 0px;
}

#intro-text h1 {
  font-weight: 900;
  line-height: 88%;
}

#comic {
  padding-top: 6vh;
  padding-bottom: 6vh;
}

#comic-intro-text h3 {
  font-weight: 700;
  letter-spacing: 2px;
}

#comic-strip .row {
  margin-bottom: 0px;
}

.comic-image {
  width: 90%;
  height: 90%;
}

.quotation {
  width: 64px;
  height: 64px;
}

.quotation-open {
  margin-left: -64px;
}

.quotation-closed {
  position: absolute;
}

.legal-text-wrapper {
  letter-spacing: 5px;
}

.legal-text1 {
  font-style: italic;
}

.legal-text2 {
  font-weight: bold;
  font-style: italic;
}

.full-legal-terms {
  margin-top: 5vh;
  font-variant: small-caps;
  letter-spacing: 3px;
}

.legal-anchor {
  color: white;
}

#heart {
  margin-top: 5vh;
  width: 48px;
  height: 48px;
}

.page-footer {
  padding-top: 40px;
}

.copyright {
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.page-footer .logo {
  margin: 0px;
}

#share-wrapper {
  /* center with the logo */
  padding-top: 19px !important;
}

.share-link {
  margin-right: 5px;
  margin-left: 5px;
}

#github-wrapper {
  height: 24px;
  width: 24px;
}

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 2000px) {
  .flow-text {
    font-size: 3rem;
  }
  .arrow {
    width: 96px;
  }
  #intro-text h1 {
    font-size: 7.5rem;
  }
  #comic-intro-text h3 {
    font-size: 6.5rem;
  }
  .comic-image {
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 128px;
    height: 128px;
    margin: 70px 0px 70px 70px;
  }
}

@media only screen and (max-width: 768px) {
  .arrow {
    width: 40px;
  }
  #intro-text h1 {
    font-size: 3.5rem;
  }
  .comic-text {
    height: 35vh;
  }
  .quotation {
    width: 48px;
    height: 48px;
  }
  .quotation-open {
    margin-left: -48px;
  }
}

@media only screen and (max-width: 425px) {
  .arrow {
    width: 24px;
  }
  .section-padding {
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
  #intro-text h1 {
    font-size: 2rem;
  }
  #comic-intro-text h3 {
    font-size: 1.7rem;
  }
  .comic-text {
    height: 20vh;
  }
  .quotation {
    width: 32px;
    height: 32px;
  }
  .quotation-open {
    margin-left: -32px;
  }
}

@media only screen and (max-width: 375px) {
  .arrow {
    width: 20px;
  }
  .logo {
    width: 48px;
    height: 48px;
    margin: 17px 35px 35px 17px;
  }
  .copyright {
    font-size: .9rem;
  }
  .quotation {
    width: 16px;
    height: 16px;
  }
  .quotation-open {
    margin-left: -12px;
  }
}

@media only screen and (max-width: 320px) {
  .arrow {
    width: 18px;
  }
  #intro-text h1 {
    font-size: 1.7rem;
  }
  #comic-intro-text h3 {
    font-size: 1.2rem;
  }
  .copyright {
    font-size: .65rem;
  }
}
